* {
    box-sizing: border-box;
}
body {
    height: auto;
    width: auto;
    margin: 0;
    background-color: #132e13;
}
main {
    height: 300px;
    width: 300px;
    margin: 150px auto;
    border: #215f21 solid 3px;
    border-radius: 10%;
    background-color: #f1ebeb;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.screen {
    height: 35px;
    width: 262px;
    border: none;
    border-bottom: 1px solid black;
    background-color: #ffffff00; 
}
span {
    padding-top: 15px;
}
.btn {
    height: 35px;
    width: 35px;
    border: #132e13 3px solid;
    background-color: #215f21;    
}
.btn:hover {
    background-color: #1c3b49;
    cursor: pointer
}
#reset {
    height: 35px;
    width: 100px;
    border: #132e13 3px solid;
    background-color: #215f21;
}
#reset:hover {
    background-color: #1c3b49;
    cursor: pointer
}