/* Definição da Fonte */
* {
    font-family: 'Merriweather', serif;
}

/* Plano de Fundo Geral */
body{
    background-color: #f7f4d2;
    margin:0;
}
/* Container Principal */
#container {
    box-sizing: border-box;
    height: 1433px;
    width: 820px;
    padding: 0;
    margin: 5px auto;
}



/* Barra Lateral */
aside{
    height: 650px;
    width: 220px;
    background-color: #FFD046;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: fixed;
}   

/* Foto */
#foto{
    height: 200px;
    width: 200px;
    background-image: url("./images/eu.jpg");
    border-radius: 50%;
    margin: 10px auto;
}

/* Sub-títulos */
aside h3{
    text-align: center;
}

aside p{
    font-size: 13px;
}

/* Contato */
.contato {  
    display: flex;
    padding-left: 12px;
}
.contato p{
    margin: 0;
    text-indent: 0px;
}
#skills {
    margin: 0 auto;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;
    align-content:space-between;    
}
#hobbies {
    margin: 0 auto;
    width: 137px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3px;
    align-content:space-between;
}




/* Conteúdo Principal */
main{
    height: 1425px;
    width: 600px;
    background-color: #1e1e1e;
    color:white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0 220px;
}
main p, main li, main ul{
    margin: 0;
    font-size: 13px;
}
/* main: Nome */
header{
    text-align: center;
    padding: 1em;
}
h1{
    font-size: 24px;
    margin: 1em 0 0 0;
}
#line{
    margin:0;
    font-size: 16px;
}
#social{
    margin-top: 10px;
    display: inline-flex;
    column-gap: 2em;
}
a{
    text-decoration: none;
}
.socialicon{
    fill: #FFD046;                              
}
.socialicon:hover{
    fill: rgb(33, 30, 194)
}

/* Separador */
.separador{
    height: 1px;
    width: 500px;
    border-radius: 1px;
    background-color: #FFD046;
    margin: 0 auto;
}

/* sub-titulos */
main h3{
    text-align: center;
    color: #FFD046;
    font-size: 17px;
    margin: 1em 0 1em;
}

/* SOBRE MIM */
#sobre{
    width: 500px;
    height: 140px;
    margin: 16px auto;
}
#sobre p    {
    text-align: justify;
    text-justify: auto;
}

/* Educação */
#educacao{
    box-sizing: border-box;
    height: 425px;
    width: 500px;
    margin: 16px auto;
}
#educacao span{
    font-weight: bold;
    text-decoration: underline;
}
#educacao p{
    text-align: justify;
    text-justify: auto;
}
.instituicoes {
    margin: 15px auto 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 177px;
}
.escola{
    text-align: center;   
}

/* Skills */
#skillsmain{
    box-sizing: border-box;
    height: 127px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 16px auto;
    background-color:#f7f4d2;
    padding: 16px;
    column-gap: 23px;
    color: black;
    border-radius: 25px;
}
.bars{
    box-sizing: border-box;
    height: 17px;
}
#htmlbar {
    height: 15px;
    width: 400px;
    background:linear-gradient(to right, #FFD046 80%, #11111100 20%);
    border: black 2px solid;
    border-radius: 15px;
}
#cssbar {
    height: 15px;
    width: 400px;
    background:linear-gradient(to right, #FFD046 70%, #11111100 30%);
    border: black 2px solid;
    border-radius: 15px;
}
#githubbar {
    height: 15px;
    width:  400px;
    background:linear-gradient(to right, #FFD046 50%, #11111100 50%);
    border: black 2px solid;
    border-radius: 15px;
}
#figmabar {
    height: 15px;
    width: 400px;
    background:linear-gradient(to right, #FFD046 55%, #11111100 45%);
    border: black 2px solid;
    border-radius: 15px;
}
#photobar {
    height: 15px;
    width: 400px;
    background:linear-gradient(to right, #FFD046 55%, #11111100 45%);
    border: black 2px solid;
    border-radius: 15px;
}
#csslabel {
    margin-right: 16px;
}
#gitlabel{
    margin-right: -6px;
}
#photolabel{
    margin-right: -20px;
}


/* Experiência */
.expdata{
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}
#exp{
    box-sizing: border-box;
    height: 142px;
    width: 500px;
    margin: 16px auto;
}
#exp .instituicoes{
    column-gap: 50px;
}