@font-face {
    font-family: 'mortalkombat3';
    src: url('./fonts/mortalkombat3.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
* {
    box-sizing: border-box;    
}
body{    
    margin: 0;
    width: 100%;
    height: fit-content;
    background-color: #0A0A0A;
}
#inicioLogo {
    background-image: url("./images/inicioLogo.png");
    background-position: center;
    height: 720px;
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

#inicioMsg {
    padding-top: 400px;
    height: 500px;
    width: 84px;
    color: white;
    display: block;
}

#starter, #victory {
    position: absolute;   
    width: 100%;
    height: 100%;
    top:0px;
    background-color: #0A0A0A;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
#inicio, #victoryText {
    font-size: 72px;
    color: red;
    border-top: #e00202 2px solid;
    border-bottom: #e00202 2px solid;
}

#seletor-painel{    
    margin: 85px auto 0px;
    width: 495px;
    height: 448px;
    background-color: #12102b;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 1px #0A0A0A solid;
    box-shadow: 5px 5px 11px #0A0A0A;
    color: yellow;
}
#seletor-painel h3 {
    margin:0px;
    font-size: 30px;    
}
#fighter-selector-frame {
    margin: 15px auto 15px auto;
    height: 312px;
    width: 328px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
    row-gap: 4px;    
}
.fighter {
    box-sizing: content-box;
    height: 150px;
    width: 75px;
    background-color: #fff;
    border:2px solid #0A0A0A;
    font-size: 36px;
    font-weight: bolder;
}
.fighter:hover {
    cursor: pointer;
}
#fight-btn{
    color: blue;
}
#fight-btn:hover , #starter:hover {
    cursor:pointer;
}
#chaves {
    background-image: url(./images/chaves-small-right.png);
}
#chiquinha {
    background-image: url(./images/chiquinha-small-right.png);
}
#quico {
    background-image: url(./images/quico-small-right.png);
}
#madruga {
    background-image: url(./images/madruga-small-right.png);
}
#barriga {
    background-image: url(./images/barriga-small-right.png);
}
#professor {
    background-image: url(./images/professor-small-right.png);
}
#florinda {
    background-image: url(./images/florinda-small-right.png);
}#clotilde {
    background-image: url(./images/clotilde-small-right.png);
}

main {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;    
    margin: 0 auto ;
    width: 1360px;
    height: 635px;
    column-gap: 5px;
    background-image: url("./images/vila.png");
}
#playerOne, #playerTwo {
    height: 500px;
    width: 300px;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    color:#fefefe;
    box-shadow: 5px 5px 11px #0A0A0A;
}
#log{
    height: 500px;
    width: 390px;
    text-align: center;
    filter:opacity(80%)
}
#logText {
    resize: none;
    font-size: 19px;
    background-color: #0A0A0A;
}
#img-one, #img-two{
    height: 200px;
    width: 100px;
}

#log img {
    margin-bottom: 150px;
}
#playerOne {
    background-color: #0b1057;    
}
#playerTwo {
    background-color: #580303;
}
#oneVidaMax , #twoVidaMax {
    margin: 3px auto;
    height: 27px;
    width: 202px;
    border: 1px solid yellow;
    background-color: yellow; 
}
#twoVida, #oneVida {
    margin: 0px;
    height: 25px;
    width: 200px;    
    background-color: red;   
}

p {
    margin: 3px
}
#victory {
    display: none;
}
#logText {
    background-color: #0A0A0A;
    border: yellow 2px solid;
    color: white;
    text-align: center;
    font-family: 'Slabo 27px', serif;
}
.scroll::-webkit-scrollbar {
    display: none;
}
#botoes {
    margin: 10px auto;
    width: 150px;
    height: 72px;
    display: flex;
    flex-wrap: wrap;
}
.act-btn {
    width: 75px;
    height: 35px;
}
#dangerAtk {
    width: 150px;
    display:none;
}