body {
    margin: 0;
    width: 100%;
    height: fit-content;
    background-color: #1e1e1e;
    text-align: center;
    color: white;
}
#texto {
    margin: 250px auto 5px;
    height: fit-content;
    width: fit-content;
    display: block;
    font-size: 14px;
}
#buttons {
    height:24px;
    width: 48px;
    position: fixed;
    top: 1em;
    right: 1em;
}
button {
    height: 22px;
    width: 22px;
}